<!doctype html>

<div class="jumbotron text-center">
    <h1>My Account</h1>
</div>
<div class="card m-2">
    <div class="card-block m-2">
        <h4 class="card-title">Account Info</h4>
        <p class="card-text">Username: {{account.username}}</p>
        <button class="btn btn-danger" ng-click="deleteAccount()">Delete Account</button>
    </div>
</div>
<div class="card m-2">
    <div class="card-block m-2">
        <h4 class="card-title">My Podcasts</h4>
        <div class="card" ng-repeat="podcast in account.owns">
            <h5 class="card-title m-2">
                {{podcast.title}}
            </h5>
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" data-target="#price">Price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#btcpayserver">BTCPayServer Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#nodeinfo">Lightning Node Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#delete">Danger Zone</a>
                    </li>
                </ul>
            </div>
            <div class="card-block m-2">
                <div class="tab-content">
                    <div id="price" class="tab-pane active">
                        <form ng-submit="update(podcast._id, {price: podcast.price})">
                            <div class="form-group">
                                <label for="price{{$index}}">Price Per Episode</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">t$</span>
                                    </div>
                                    <input type="number" step="any" min="0" name="price" class="form-control" id="price{{$index}}"
                                        ng-model="podcast.price" required="true">
                                </div>
                            </div>
                            <input type="submit" value="Update Price" class="btn btn-primary">
                        </form>
                    </div>
                    <div id="btcpayserver" class="tab-pane">
                        <form ng-submit="update(podcast._id, {btcPayServer:{serverUrl: podcast.btcPayServer.serverUrl, pairCode: podcast.btcPayServer.pairCode}})">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="serverUrl{{$index}}">BTCPayServer URL</label>
                                    <input class="form-control" required="required" name="serverUrl{{$index}}" ng-model="podcast.btcPayServer.serverUrl"
                                        type="url" autofocus=""></input>
                                </div>
                                <div class="form-group">
                                    <label for="btcPayServer.pairCode">BTCPayServer Pairing Code</label>
                                    <input class="form-control" required="required" placeholder="abcd123" name="btcPayServer.pairCode"
                                        ng-model="podcast.btcPayServer.pairCode" type="string" autofocus=""></input>
                                </div>
                            </div>
                            <input type="submit" value="Update BTCPayServer Info" class="btn btn-primary">
                        </form>
                    </div>
                    <div id="nodeinfo" class="tab-pane">
                        <form ng-submit="update(podcast._id, {btcPayServer:{storeId: podcast.btcPayServer.storeId}})">
                            <div class="form-group">
                                <label for="btcPayServer.storeId">BTCPayServer Store Id</label>
                                <input class="form-control" required="required" name="btcPayServer.storeId" placeholder="7154GQDkwVPfEnh7gx5VjagMWmZZ3v3AGd3qGace8GSV"
                                    ng-model="podcast.btcPayServer.storeId" type="string" autofocus=""></input>
                            </div>
                            <input type="submit" value="Update BTCPayServer Info" class="btn btn-primary">
                        </form>
                        <iframe height="500" width="400" src="{{podcast.btcPayServer.nodeInfoUrl | trusted}}"></iframe>
                    </div>
                    <div id="delete" class="tab-pane">
                        <button class="btn btn-danger" ng-click="deletePodcast(podcast)">Delete Podcast</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>