<!doctype html>

<div class="jumbotron text-center">
    <h1>My Account</h1>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-block m-2">
            <h4 class="card-title">Account Info</h4>
            <p class="card-text">Username: {{account.username}}</p>
            <button class="btn btn-danger" ng-click="deleteAccount()">Delete Account</button>
        </div>
    </div>
    <div class="card">
        <div class="card-block m-2">
            <h4 class="card-title">Balance</h4>
            <p class="card-text">{{account.balance / 100}} bits ≈ t${{account.balance * btcPrice / 100000000}}</p>
            <a class="btn btn-primary" ng-hide="withdrawClicked == true" ng-click="withdrawClicked = true">Withdraw</a>
            <form name="withdrawform" ng-submit="withdraw()" ng-show="withdrawClicked == true">
                <div class="form-group">
                    <label for="invoice">Lightning Invoice</label>
                    <input type="text" title="Please enter a valid testnet lightning invoice." pattern="lightning:lntb.*" class="form-control" id="invoice" ng-model="invoice" required="required" placeholder="lightning:lntb...">
                    <div class="alert alert-danger" ng-show="invalidInvoice == true" ng-init="invalidInvoice = false">
                        <strong>Invalid invoice!</strong> Please check your invoice and try again.
                    </div>
                    <div class="alert alert-danger" ng-show="paymentFailed == true" ng-init="paymentFailed = false">
                        <strong>Payment failed!</strong> Please try again later.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="card">
        <div class="card-block m-2">
            <h4 class="card-title">My Podcasts</h4>
            <div class="card" ng-repeat="podcast in account.owns">
                <div class="card-block m-2">
                    <h5 class="card-title">
                        {{podcast.title}}
                    </h5>
                    <form>
                        <div class="form-group">
                            <label for="price{{$index}}">Price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">t$</span>
                                </div>
                                <input type="number" step="any" minimum="0" name="price" class="form-control" id="price{{$index}}" ng-model="podcast.price" required="true">
                            </div>
                        </div>
                        <button class="btn btn-primary" ng-click="update(podcast)">Update</button>
                    </form>
                    <button class="btn btn-danger" ng-click="deletePodcast(podcast)">Delete Podcast</button>
                </div>
            </div>
        </div>
    </div>
</div>
