<!DOCTYPE html>
<div class="jumbotron text-center">
    <h1>Contact</h1>
</div>
<p class="ml-3 mr-3">
<ul class="list-group">
    <li class="list-group-item">Contact DJ Seeds directly: <a href="mailto:dj@lncast.com">dj@lncast.com</a></li>
    <li class="list-group-item">Report issues or contribute: <a href="https://github.com/djseeds/lncast" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a></li>
    <li class="list-group-item">Give feedback and discuss LNCast: <a href="https://yalls.org/groups/a1264e7f-401d-4c46-97a7-7b14e6b54193:edb730a8-a097-4c95-9300-e986424951cd" target="_blank"><i class="fa fa-bolt" aria-hidden="true"></i>Y'alls.org</a>
</p>
