<!doctype html>

<div class="jumbotron text-center">
    <div class="row">
        <div class="col-2">
            <img src="{{episode.image || podcast.image}}" class="img-fluid" />
        </div>
        <div class="column">
            <h1>{{podcast.title}}<h1>
        </div>
    </div>
</div>

<div id="episode">
    <h2>{{episode.title}}</h2>
    <p class="mb-2" ng-bind-html="episode.description"></p>
    <div ng-if="episode.unlocked" ng-cloak>
        <audio controls><source src="{{episode.enclosure.url}}"></audio>
    </div>
    <div ng-if="!episode.unlocked && !pay_req_generated" ng-cloak>
        <button ng-click="getPayReq()" type="button" class="btn btn-secondary">Buy Episode</button>
    </div>
    <div class="card mb-3" ng-if="pay_req_generated && !episode.unlocked">
        <div class="card-title m-2">
            <h3 class="card-title">Lightning Payment Request</h4>
            <div class="input-group m-2">
                <div class="input-group-addon">⚡</div>
                <input type="text" class="form-control" value="{{pay_req}}"readonly>
                <div class="input-group-addon">⚡</div>
            </div>
            <qrcode color="#fff" background="#000" size="200" class="m-2" href="lightning:{{pay_req}}" data="lightning:{{pay_req}}"></qrcode></p>
            <div class="input-group m-2">
                <div class="input-group-addon">Peer:</div>
                <input type="text" class="form-control" value="{{pubkey}}@{{hostname}}"readonly>
                <div class="input-group-addon">⚡</div>
            </div>
        </div>
    </div>
</div>
