<!doctype html>

<!-- Filter and Sort-->
<form class="container">
    <div class="form-row">
        <div class="column">
            <div class="form-group">
                <label for="sortBy">Sort By</label>
                <select class="custom-select custom-select-sm" id="sortBy" ng-model="sortBy" ng-init="sortBy='-earned'">
                    <option value="-earned" selected>Highest Grossing</option>
                    <option value="-listens">Most Listens</option>
                    <option value="-date">Updated Recently</option>
                    <option value="price">Price: Low to High</option>
                    <option value="-price">Price: High to Low</option>
                    <option value="title">Title: A to Z</option>
                    <option value="-title">Title: Z to A<option>
                </select>
            </div>
        </div>
    </div>
</form>
        
<!-- Podcast List -->
<div id="podcast-list" class="m-3">
    <div ng-repeat="podcast in podcasts | orderBy:sortBy">
        <div class="container-fluid mb-1">
            <div class="row">
                <div class="col-2">
                    <a ng-href="#!{{podcast.url}}">
                        <img src="{{podcast.image.url}}" class="img-fluid img-thumbnail" />
                    </a>
                </div>
                <div class="col">
                    <a ng-href="#!{{podcast.url}}">
                        <h2>{{podcast.title}}</h2>
                    </a>
                    <p ng-bind-html="podcast.description"</p>
                </div>
            </div>
        </div>
    </div>
</div>
