<!doctype html>

<div class="jumbotron text-center">
    <h1>Podcasts<h1>
</div>

<!-- Podcast List -->
<div id="podcast-list">
    <div ng-repeat="podcast in podcasts">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img src="{{podcast.image}}" class="img-fluid img-thumbnail" />
                </div>
                <div class="col">
                    <a ng-href="#!{{podcast.url}}">
                        <h2>{{podcast.title}}</h2>
                    </a>
                    <p ng-bind-html="podcast.description.short || podcast.description.long"</p>
                </div>
            </div>
        </div>
    </div>
</div>
